src/Ankimon/user_files/badges.json
src/Ankimon/user_files/items.json
src/Ankimon/user_files/mainpokemon.json
src/Ankimon/user_files/mypokemon.json
src/Ankimon/user_files/data.json
src/Ankimon/user_files/team.json
src/Ankimon/user_files/rate_this.json
src/Ankimon/addon_sprites 
# ^ in case user makes changes
src/Ankimon/meta.json
src/Ankimon/user_files/backups
*.log
*.pyc
.vscode
debug_console.py
src/Ankimon/user_files/todays_shop.json
src/Ankimon/user_files/meta.json
