src/Ankimon/pyobj/__pycache__
src/Ankimon/user_files/badges.json
src/Ankimon/user_files/items.json
src/Ankimon/user_files/mainpokemon.json
src/Ankimon/user_files/mypokemon.json
src/Ankimon/meta.json
src/Ankimon/user_files/backups
*.log
*.pyc
.vscode